<!DOCTYPE html>
<html>
    <head>
        <title>sql flask</title>
    </head>
    <body>
        {{data}}

        <form method="post">
            <input type="text" name="id" placeholder="Enter id" required="1">
            <input type="submit" name="submit">
        </form>

        
            <tr>
                <th>id</th>
                <th>name</th>
                <th>course</th>
            </tr>
            <tr>
                <td>{{data[0]}}</td>
                <td>{{data[1]}}</td>
                <td>{{data[2]}}</td>
            </tr>
        </table>
    </body>
</html>